<div class="annotationWrapper">
  <div class="annotationContainer" #annotationContainer 
    (mousedown)="containerMouseDown($event)"
    (mousemove)="containerMouseMove($event)"
    (mouseleave)="containerMouseLeave($event)"
    (mouseup)="containerMouseUp($event)">

    <div #myAnnotation *ngFor="let annotation of annotations; let i = index" 
      class="annotation"
      [ngStyle]="{'top': annotation.y + '%', 'left': annotation.x + '%'}"
      (mousedown)="annotationMouseDown(annotation,$event,i)"
      (mouseup)="dragging=false">

      <div class="line" [ngStyle]="{'width': annotation.lineLen + 'px',
                                    'transform': 'rotate(' + annotation.lineRot + 'deg)'}"></div>

      <div class="annotationText" 
          (mousedown)="textContainerMouseDown($event)"
          (mouseup)="textContainerMouseUp($event)"
          [ngStyle]="{'margin-top': (annotation.offsetY) + 'px',
                      'margin-left': (annotation.offsetX) + 'px'}">

        <div class="chip">
          {{ annotation.author | firstLetter }}
        </div>

        <span>{{annotation.frame}}</span>

        <i (click)="deleteAnnotation(i)" class="material-icons annotationDelete">delete</i>

        <md-input-container class="edit-input">
          <textarea mdInput
            mdTextareaAutosize
            minRows=1
            [(ngModel)]="annotation.text" placeholder="Comment"
            (keypress)="annotationKeyPress($event,annotation,test)">
          </textarea>
        </md-input-container>
      </div>
    </div>
  </div>
</div>

Dragging: {{dragging}}
<br>
Annotation Dimensions: {{selectedTextBoxEl?.offsetWidth}}, {{selectedTextBoxEl?.offsetHeight}}
<br>
Annotation Offset Dimensions: {{annotationDim.left}}, {{annotationDim.top}}, {{annotationDim.right}}, {{annotationDim.bottom}}
<br>
Old Offset: {{oldOffsetX}}, {{oldOffsetY}}
<br>
Offset: {{offsetTop}}, {{offsetLeft}}
<br>
Container Dimensions: {{width}}, {{height}}
<br>
Selected Annotation Offset: {{selectedAnnotation?.offsetX}}, {{selectedAnnotation?.offsetY}}
<br>
Collision bounce: {{colBounce}}

