<!--
<div class="contentSafe">
  <div *ngFor="let version of versions" class="card">
    <a>
      <div class="card-image">
        <img src="/img/{{version.thumbUrl}}">
        <div class="banner fadeOut">
          <h2 class="cardTitle">{{version.version}}</h2>
          <h5 class="cardTag">{{versions.author}}</h5>
        </div>
      </div>
    </a>
  </div>
</div>
-->

<div class="filters">
  Filters:  
  <div class="menu 2d unselectable">
    <div class="menuTitle" (click)="toggle2dFunc()">
      <span class="menuStatus" [ngStyle]="{'background-color':status2d, 'box-shadow': '0 0 0 1px ' + toggle2d}"></span>
      2D <i class="material-icons" style="vertical-align: middle; margin-top: -2px;">arrow_drop_down</i>
    </div>
    <ul class="menuList">
      <li *ngFor="let type of types2d" class="menuItem" [ngClass]="{active: type.active}" (click)="toggleActive2d(type)">
        {{type.value}}
      </li>
    </ul>
  </div>

  <div class="menu 3d unselectable">
    <div class="menuTitle" (click)="toggle3dFunc()">
      <span class="menuStatus" [ngStyle]="{'background-color':status3d, 'box-shadow': '0 0 0 1px ' + toggle3d}"></span>
      3D <i class="material-icons" style="vertical-align: middle; margin-top: -2px;">arrow_drop_down</i>
    </div>
    <ul class="menuList">
      <li *ngFor="let type of types3d" class="menuItem" [ngClass]="{active: type.active}" (click)="toggleActive3d(type)">
        {{type.value}}
      </li>
    </ul>
  </div>
</div>

<div id="versionsContainer">
  <version-item *ngFor="let version of versions | async | typeFilter:types;"
              [version]="version"
              [ngClass]="{selected: version.selected}">
 
  </version-item>
</div>

<div id="form-container" [ngClass]="{closed: sidebarClosed}">
  <entity-form [sel]="selected" (onAssign)="onAssign($event)"></entity-form>

  <button (click)="toggleSidebarRight(!showSidebarRight)" [ngClass]="{active: !sidebarClosed}" class="burger left burger--htx">
    <span></span>
    <span></span>
  </button>
</div>