.fabs {
  display: inline-block;
  position: absolute;
  bottom:0px;
  left: -95px;
  margin:1em;
  z-index: 20;
  &:hover li:not(:last-child) > .fab {
    opacity: 1;
    //-webkit-transform: none;
    //-ms-transform: none;
    //transform: none;
    margin-bottom:0px;
  }
  &:hover {
    .rootFab {
      transform: rotate(90deg);
    }
  }
  li {
    &:not(:last-child) > .fab {
      //-webkit-transform: translateY(28px);
      //-ms-transform: translateY(28px);
      //transform: translateY(28px);
      margin-bottom:-56px;
      opacity: 0;
    }
    &:not(:last-child):hover > .fab {
      background-color: rgba(207, 243, 255, 0.61);
      box-shadow: -1px 1px 10px 0 rgba(0, 0, 0, 0.5);
      color:black;
    }
  }
}

.fab {
  border-radius: 50%;
  margin: 1em;
  box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(46, 67, 80, 0.78);
  color:white;
  position: relative;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  z-index: 1000;
  &.job {
    background-color: #7aa5cc;
  }
  &.entity {
    background-color: #86af96;
  }
  &.version {
    background-color: #f1a03c;
  }
  &.note {
    background-color: #d84b58;
  }
  &.edit {
    position: absolute;
    bottom: 0;
    left: -150px;
    margin: 2em;
    border-radius: 50%;
  }
  i {
    padding:0.4em;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
}

.numSelected {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: #ff0d0d;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
}

[tooltip]:before {
  bottom: 25%;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}