<p class="title">{{method | uppercase}} JOB</p>

<div class="formContent">
  <form (ngSubmit)="onSubmit()" #jobForm="ngForm">
    <md-input-container>
      <input mdInput placeholder="Client" 
              name="client" 
              required
              [(ngModel)]="job.client"
              autocomplete="off">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Agency" 
              name="agency" 
              [(ngModel)]="job.agency"
              autocomplete="off">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Name" 
              name="name" 
              required
              [(ngModel)]="job.name"
              autocomplete="off">
    </md-input-container>

    <br>

    <md-checkbox #todoToggle [(ngModel)]="job.public" name="public">Public?</md-checkbox>

    <br>
    <br>

    <button type="submit">{{method}}</button>

    <br>

    <button (click)="deleteJob()" *ngIf="method == 'Edit'">Delete Job</button>
  </form>
</div>

