<p class="title">{{method | uppercase}} JOB</p>

<div class="formContent">
  <form (ngSubmit)="onSubmit()" #jobForm="ngForm">
    <md-input placeholder="Client" 
              name="client" 
              required
              [(ngModel)]="job.client"
              autocomplete="off">
    </md-input>

    <md-input placeholder="Agency" 
              name="agency" 
              [(ngModel)]="job.agency"
              autocomplete="off">
    </md-input>

    <md-input placeholder="Name" 
              name="name" 
              required
              [(ngModel)]="job.name"
              autocomplete="off">
    </md-input>

    <input type="checkbox" [(ngModel)]="job.public"
              name="public">

    <br>
    <br>

    <button type="submit">{{method}}</button>

    <br>

    <button (click)="deleteJob()" *ngIf="method == 'Edit'">Delete Job</button>
  </form>
</div>


