<div id="detailsPanel">
  <ul id="breadcrumbs" class="light">
      <li [routerLink]="['/job', job?._id._str]">{{job?.name}}</li>
  </ul>

  <div id="details">

    <ul class="block jobInfo">
      <li class="bold jobName">
        {{job?.name}}
      </li>
      <li class="taskDescription">
        {{job?.description}}
      </li>
    </ul>

    <ul class="block cameraInfo">
      <li class="bold">Camera</li>
      <li class="cameraName">{{job?.camera.body}}</li>
      <li class="filmback">{{job?.camera.sensor.width}} x {{job?.camera.sensor.height}}</li>
    </ul>

    <ul class="block outputInfo">
      <li class="bold">Output</li>
      <li>Length: 60/30/15</li>
      <li>{{job?.output.width}}x{{job?.output.height}}</li>
    </ul>
  </div>
</div>

<div class="activity">
  Activity
  <div *ngFor="let action of activity | async">
    {{action.author.name}} created {{action.meta.name}} on {{action.date | date}}
  </div>
</div>

<!-- <entities2></entities2> -->

<entity-list [entities]="assets" [title]="'Assets'"></entity-list>

<entity-list [entities]="shots" [title]="'Shots'"></entity-list>

<div style="position: fixed; bottom: 0; right: 0;">
  <div class="fab entity edit" (click)="addEntity()">
    <div>
      <i class="material-icons">create</i>
    </div>
  </div>
</div>

<div id="form-container" [ngClass]="{closed: sidebarClosed}">
  <entity-create-form #entityCreateForm></entity-create-form>

  <button (click)="sidebarClosed=true" [ngClass]="{active: !sidebarClosed}" class="burger left burger--htx">
    <span></span>
    <span></span>
  </button>
</div>




