<!-- <button (click)="readTextFile()">Read Text File</button>
<button (click)="readImageFile()">Read Image File</button>
<button (click)="writeTextFile()">Write Text File</button>
 -->

<div class="contentSafe">
  <div *ngFor="let job of jobs | async; let idx=index" class="card card-big" (click)="editJob(job)">

    <thumbnail [thumbUrl]="job.thumbUrl">
      <div class="banner">
        <a [routerLink]="['/job', job._id._str]">
          <h2 class="cardTitle">{{job.client}}</h2>
          <h5 class="cardTag">{{job.name}}</h5>
        </a>
      </div>
    </thumbnail>
  </div>
</div>

<div style="position: fixed; bottom: 0; right: 0;">
  <div class="fab entity edit" (click)="addJob()">
    <div>
      <i class="material-icons">create</i>
    </div>
  </div>
</div>

<!-- <md-input-container>
   <input type="text" mdInput [formControl]="myControl">
</md-input-container> -->

<div id="form-container" [ngClass]="{closed: sidebarClosed}">
  <job-form #jobForm [method]="method"></job-form>

  <button (click)="toggleSidebarRight(!showSidebarRight)" [ngClass]="{active: !sidebarClosed}" class="burger left burger--htx">
    <span></span>
    <span></span>
  </button>
</div>

