<!-- <button (click)="readTextFile()">Read Text File</button>
<button (click)="readImageFile()">Read Image File</button>
<button (click)="writeTextFile()">Write Text File</button>
 -->
<div class="contentSafe">
  <div *ngFor="let job of jobs | async; let idx=index" class="card card-big" (click)="editJob(job)">
    <div class="card-image">
      <img [src]="job.thumbUrl" onError="this.src='img/default.jpg'">
        <div class="banner fadeOut">
          <a [routerLink]="['/job', job._id._str]">
            <h2 class="cardTitle">{{job.client}}</h2>
            <h5 class="cardTag">{{job.name}}</h5>
          </a>
        </div>
    </div>
  </div>
</div>

<div style="position: fixed; bottom: 0; right: 0;">
  <div class="fab entity edit" (click)="addJob()">
    <div>
      <i class="material-icons">create</i>
    </div>
  </div>
</div>

<div id="form-container" [ngClass]="{closed: sidebarClosed}">

  <job-form [method]="method" [job]="job"></job-form>

  <button (click)="toggleSidebarRight(!showSidebarRight)" [ngClass]="{active: !sidebarClosed}" class="burger left burger--htx">
    <span></span>
    <span></span>
  </button>
</div>

<md-checkbox>Check me!</md-checkbox>

