<search-box (update)="term = $event"></search-box>

<div class="assignView" (click)="showTaskDetails()">
  <div class="assignViewIcon" [ngClass]="{showAssign: showDetails}">
    <i class="material-icons" 
        style="position: absolute;
        color: #595f67">people</i>

    <i class="material-icons"
       style="position: absolute;
          top: 20px;
          color: #595f67">dashboard</i>
  </div>
</div>

<h5>Assets ({{assets2?.length}})</h5>

<span class='tooltipUser' [style.top]="top" [style.left]="left"
      [ngClass]="{hidden: tooltipName==''}">
      {{tooltipName}} 
</span>

<div class="cards assets">
  <div *ngFor="let asset of assets2 | filter:term; let assetId = index; trackBy:trackByIndex;" class="card card-mid">
    <div class="card-details" [ngClass]="{show: showDetails}">
      <a class="card-details-title bold" [routerLink]="['/entity', asset._id._str]">{{asset.name}}</a>
      <ul class="task-list">
        <li *ngFor="let task of asset.tasks | filter:term; let taskId = index;" 
           (click)="select(asset,task,assetId,taskId)" 
           class="task-item"
           [ngClass]="{selected: task.selected}">
          <span class="type">
            {{task.type}} 
          </span>
          <div class="chips chips-small">
            <div *ngFor="let taskUser of task.users | filter:term" class="chip" 
                 (mouseover)="showTooltip($event, taskUser)" 
                 (mouseout)="showTooltip($event, '')">
              {{taskUser | firstLetter}}
            </div>
          </div>
          <hr class="hr-thin">
        </li>
        <li class="task-item">
          <span class="type">{{asset[assetId]}}</span>
        </li>
      </ul>
      <div class="cardDetailsFooter">
        <div class="addTask">
          <form (ngSubmit)="addTask(asset._id._str, asset[assetId])">
            <md-input-container>
              <input mdInput placeholder="Add Task" 
                [(ngModel)]="asset[assetId]" 
                name="addTask" 
                autocomplete="off">
            </md-input-container>
          </form>
        </div>
      </div>
    </div>
    <div class="card-thumb">
      <img src="{{asset?.thumbUrl}}" onerror="this.src='/img/default.jpg'">
      <div class="banner fadeOut">
        <a [routerLink]="['/entity', asset._id._str]">
          <h2 class="cardTitle">{{asset?.name}}</h2>
          <h5 class="cardTag">{{asset?.type}}</h5>
        </a>
      </div>
    </div>

  </div>
</div>

<h5>Shots ({{shots2?.length}})</h5>

<div class="cards shots">
  <div *ngFor="let shot of shots2; let shotId = index;" class="card card-mid">
    <div class="card-details" [ngClass]="{show: showDetails}">
      <div class="card-details-title bold">{{shot.name}}</div>
      <ul class="task-list">
        <li *ngFor="let task of shot.tasks | filter:term; let taskId = index;" 
           (click)="select(shot,task,shotId,taskId)" 
           class="task-item"
           [ngClass]="{selected: task.selected}">
          <span class="type">
            {{task.type}} 
          </span>
          <div class="chips chips-small">
            <div *ngFor="let taskUser of task.users | filter:term" class="chip">
              {{taskUser | firstLetter}}
            </div>
          </div>
          <hr class="hr-thin">
        </li>
      </ul>
    </div>
    <div class="card-thumb">
      <img src="{{shot?.thumbUrl}}" onerror="this.src='/img/default.jpg'">
      <div class="banner fadeOut">
        <a [routerLink]="['/entity', shot._id._str]">
          <h2 class="cardTitle">{{shot?.name}}</h2>
          <h5 class="cardTag">{{shot?.type}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>

<!--
<div style="position: absolute; bottom: 0; right: 0;">
  <div class="fab entity edit" (click)="editSelected()">
    <div>
      <div class="numSelected">{{selected.length}}</div>
      <i class="material-icons">mode_edit</i>
    </div>
  </div>
</div>
-->

<!--<entity-form [sel]="selected" (onAssign)="onAssign($event)"></entity-form>-->
<div id="form-container" [ngClass]="{closed: sidebarClosed}">

  <entity-form [sel]="selected" (onAssign)="onAssign($event)"></entity-form>

  <button (click)="toggleSidebarRight(!showSidebarRight)" [ngClass]="{active: !sidebarClosed}" class="burger left burger--htx">
    <span></span>
    <span></span>
  </button>
</div>
