<div class="thumbnailContainer"
  (mouseenter)="mouseenter($event)"
  (mousemove)="mousemove($event)"
  (mouseleave)="hovering=false"
  [ngStyle]="{'padding-bottom': heightRatio + '%'}">

  <ng-content></ng-content>

  <div class="hovering" [ngClass]="{fadeOut:hovering}"></div>
  <div class="thumbnail"
    [ngStyle]="{'background-image':'url(' + thumbUrl + ')',
                'background-size': '3000% 100%',
                'background-position': xpos + '% 0'}">
  </div>

  <!-- 'background-image':'url(' + thumbUrl + ')' -->

  <!-- <div class="bar" *ngIf="hovering==true" [ngStyle]="{'left': xPerc + '%'}"></div> -->
</div>
