
@font-face {
  font-family: 'Ikaros-Regular';
  src: url('Ikaros-Regular.eot?#iefix') format('embedded-opentype'),  url('Ikaros-Regular.otf')  format('opentype'),
	     url('Ikaros-Regular.woff') format('woff'), url('Ikaros-Regular.ttf')  format('truetype'), url('Ikaros-Regular.svg#Ikaros-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
