
@font-face {
  font-family: 'Aileron-SemiBold';
  src: url('Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Aileron-SemiBold.otf')  format('opentype'),
	     url('Aileron-SemiBold.woff') format('woff'), url('Aileron-SemiBold.ttf')  format('truetype'), url('Aileron-SemiBold.svg#Aileron-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
